* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body,
button,
h1,
h2 {
    font-family: Inter, sans-serif;
}

.section-1 {
    background-color: #00B9F1;
    justify-content: space-between;
}

.section-2 {
    background-color: #002E6E;
    justify-content: space-between;
}

.box-1 {
    background-color: #00B9F1;
}

.box-2 {
    background-color: #002E6E;
}

.box-1,
.box-2 {
    width: 140px;
    margin-right: 32px;
    cursor: pointer;
    border-radius: 12px;
    padding: 16px 11px 16px 16px;
    justify-content: space-between;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
}

.cards {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
}


.heading h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    padding: 50px 0 0 50px;

}

.box-1 img,
.box-2 img {
    width: 64px;
    margin-bottom: 17px;
    border-radius: 100%;
}

.box-1:hover {
    background-color: rgba(234, 240, 246, 0.2);
    transition: ease-out 0.3s;
}

.box-2:hover {
    background-color: rgba(234, 240, 246, 0.1);
    transition: ease-out 0.3s;
}

.heading-1 h1 {
    width: 1170px;
    margin: 0 auto 35px;
    font-size: 48px;
    color: #000;
    font-weight: 700;
    line-height: 50px;
}




.logo-1 img {
    width: 212px;
    padding-top: 36px;
    padding-bottom: 24px;

}

.logo-2 img,
.logo-3 img,
.logo-4 img {
    width: 170px;
    padding-top: 12px;

}

/* .logo-3 img {
    width: 212px;
    padding-top: 36px;
    padding-bottom: 24px;

} */

.paytm-head-1,
.paytm-head-2,
.paytm-head-3,
.paytm-head-4 {
    margin-top: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.paytm-head-1,
.paytm-head-4 {
    margin-bottom: 24px;
}

.paytm-head-2,
.paytm-head-3 {
    margin-bottom: 12px;
}

.paytm-description-1 span,
.paytm-description-2 span,
.paytm-description-3 span,
.paytm-description-4 span {
    padding-top: 12px;
    display: block;
    width: 515px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.paytm-description-1 span {
    margin-bottom: 45px;
}

.paytm-description-2 span {
    margin-bottom: 24px;
}

.paytm-description-3 span,
.paytm-description-4 span {
    margin-bottom: 36px;
}

.learn-more-btn-1,
.learn-more-btn-2,
.learn-more-btn-3,
.learn-more-btn-4 {
    background: #002E6E;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 20px 12px 20px;
    border: none;

}

.mobile-1 img,
.mobile-3 img {
    width: 452px;
    margin-left: 200px;
}

.mobile-2 img {
    width: 460px;
    margin-right: 200px;
}

.mobile-4 img {
    width: 440px;
    margin-right: 200px;
}


.main-box-1,
.main-box-2,
.main-box-3,
.main-box-4 {
    display: flex;
}


.section-3,
.section-4,
.section-5,
.section-6 {
    padding: 100px;
}

.bg {
    background-color: rgb(245, 254, 245)
}





.main-div h1 {
    padding-bottom: 89px;
    width: 480px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.cards-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-div {
    width: 21.5%;
    margin-right: 70px;
}

.card-div img {
    width: 100%;
}

.box-heading {
    padding: 40px 0 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 12px;
}

box-div p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.card-div p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.card-div span {
    margin-top: 100px;
}

.main-div {
    width: 1170px;
    margin: auto;
    padding: 120px 0;
}